# 0) loading data from xlsx file

In [1]:
#!pip install openpyxl
import pandas as pd

In [2]:
df = pd.read_excel(r'Book1.xlsx')#,index_col=0,index_row=0)
#df1 = pd.read_excel(r'Book2.xlsx')
df1 = pd.read_excel(r'Book3.xlsx')

In [1]:
#df.head()

In [2]:
#df1.head()

# 1) Preprocessing

## 1.1 mapping Students' number to ID

In [5]:
Number_of_student = 0 


studentIDlist = [] # ranging from 1 to maximum number of students
studentNumList = [] #temp lis


for i in df1['StudentNum']:
    if i in studentNumList:
        studentIDlist.append(studentNumList.index(i)+1)
    else:
        studentNumList.append(i)
        studentIDlist.append(len(studentNumList))
        
Number_of_student = max(studentIDlist)

In [3]:
#print(studentIDlist)
#df1['studentID'] = studentIDlist

## 1.2) Creating a table for Student / taken_course

In [7]:
course_code = df['code'].values.tolist()
num_of_courses = len(course_code)
# studentIDlist  and also we need this variable  
courseNumlist = df1['courseNum'].values.tolist()
finalDF = [[0]*(num_of_courses+1) for i in range(Number_of_student)] # final data frame

# finalDF[i][0] represent id of students and the rest of the list is for course 
for i in range(Number_of_student):
    finalDF[i][0] = i+1
for s_id, c_num in zip(studentIDlist, courseNumlist):
    finalDF[s_id-1][course_code.index(c_num)+1] = 1

In [5]:
#for i in finalDF: 
#    print(i)

In [6]:
df4 = pd.DataFrame(finalDF)
#df4.head()

NameError: name 'pd' is not defined

## 1.3) Creating CourseID/day table

In [213]:
courseNum = df['code'].values.tolist()
num_of_courses = len(course_code)
# studentIDlist  and also we need this variable  
days = df['days'].values.tolist()

final_list = [[0]*3 for i in range(len(days)*2)]

j = 0
i = 0
while (j < len(days)*2):
    final_list[j][0] = i + 1 
    final_list[j][2] = 1
    final_list[j+1][0] = i + 1 
    final_list[j+1][2] = 1
    i+=1
    j+=2

In [214]:
i = 0
for day_name in days:
    if day_name[0] == '1':
        final_list[i][1] = 1 
        final_list[i+1][1] = 3
        i+=2
    else:
        final_list[i][1] = 2
        final_list[i+1][1] = 4
        i+=2

In [7]:
#print(final_list)

## 1.3) Creating CourseID/day table for two weeks

In [12]:
nw = 2 # number of weeks 
courseNum = df['code'].values.tolist()
num_of_courses = len(course_code)
# studentIDlist  and also we need this variable  
days = df['days'].values.tolist()

final_list = [[0]*3 for i in range(len(days)*2*nw)]

j = 0
i = 0
while (j < len(days)*2*nw):
    final_list[j][0] = i + 1 
    final_list[j][2] = 1
    final_list[j+1][0] = i + 1 
    final_list[j+1][2] = 1
    
    final_list[j+2][0] = i + 1 
    final_list[j+2][2] = 1
    final_list[j+3][0] = i + 1 
    final_list[j+3][2] = 1
    i+=1
    j+=4

In [17]:
i = 0
for day_name in days:
    if day_name[0] == '1':
        final_list[i][1] = 1 
        final_list[i+1][1] = 3
        final_list[i+2][1] = 1 +7
        final_list[i+3][1] = 3 +7
        i+=4
    else:
        final_list[i][1] = 2
        final_list[i+1][1] = 4
        final_list[i+2][1] = 2 + 7
        final_list[i+3][1] = 4 + 7
        i+=4

In [8]:
#final_list

#  2 Dump Data From to XLSX

In [77]:
#!pip install xlsxwriter
import pandas as pd

new_list = [["first", "second"], ["third", "four"], ["five", "six"]]
df6 = pd.DataFrame(new_list)
writer = pd.ExcelWriter('test.xlsx', engine='xlsxwriter')
df5.to_excel(writer, sheet_name='welcome', index=False)
writer.save()

In [78]:
df6.head()

       0       1
0  first  second
1  third    four
2   five     six

In [95]:
writer = pd.ExcelWriter('Book3.xlsx', engine='xlsxwriter')
df1.to_excel(writer, sheet_name='Book3', index=False)
writer.save()

In [101]:
##
## we might need to iterate over a pandas dataframe in this way: 
##
## for i, j in zip(df['code'], df['days']):
##    print("i is {} and j is {}".format(i,j))
##    
## */

In [194]:
writer = pd.ExcelWriter('Book4.xlsx', engine='xlsxwriter')
df4.to_excel(writer, sheet_name='Book4', index=False)
writer.save()

In [217]:
df5 = pd.DataFrame(final_list)
df5.head()

   0  1  2
0  1  1  1
1  1  3  1
2  2  2  1
3  2  4  1
4  3  1  1

In [218]:
writer = pd.ExcelWriter('Book5.xlsx', engine='xlsxwriter')
df5.to_excel(writer, sheet_name='Book5', index=False)
writer.save()

In [19]:
df6 = pd.DataFrame(final_list)
df6.head()

   0   1  2
0  1   1  1
1  1   3  1
2  1   8  1
3  1  10  1
4  2   2  1

In [21]:
writer = pd.ExcelWriter('Book6.xlsx', engine='xlsxwriter')
df6.to_excel(writer, sheet_name='Book6', index=False)
writer.save()